from typing import Sequence
from hello.python.friend_provider import FriendProvider

class {KLASS}FriendProvider(FriendProvider):

    def get_friends(self) -> Sequence[str]:
        return [{NAMES}]

